<div class="container">
  <div class="post">
    <%= form_for @post, :html => {:multipart => :true} do |f| %>
    <%= f.label :title, class: "form_title" %>
    <%= f.text_field :title, class: "form_title"%>

    <%= f.label :body, class: "form_body" %>
    <%= f.text_area :body, class: "form_body" %>

    <%= f.label :img_url, class: "form_body" %>
    <%= f.text_field :img_url, class: "form_body" %>

    <%= f.file_field :image, class: "image_upload" %>

    <%= f.submit 'Create Post', class: "button element", id: "float_right" %>
    <% end %>
  </div>
</div>
