<div class="container">

  <div class="title post element">
  <%= link_to 'New Post', new_post_path(@post) %>
  </div>

  <% @posts.each do |post| %>

  <div class="post">

    <div class="title element">

      <div class="create">
        <%= post.user.email %> said: </div><%= post.title %>
      </div>

    </div>

    <div class="body">
      <%= post.body%>
      <% post.comments.each do |comment| %>
      <%= comment.user.email %><%= comment.content %>

  <% end %>
      <%= form_for([post, @comment]) do |f| %>
          <%= f.label :content %><br>
          <%= f.text_field :content %>

          <%= f.submit %>

          <% end %>
    </div>
  <%= link_to 'Add Comment', new_post_comment_path(post) %>
  <%= link_to 'Edit Post', edit_post_path(post)%>
  <% end %>
</div>
