<div class="container">
<div class="title post element">
<%= link_to 'New Post', new_post_path(@post) %>
</div>
<% @posts.each do |post| %>
<div class="post">
  <div class="title element">

    <div class="create"><%= post.user.email %> said: </div><%= post.title %>
  </div>
  <div class="body">
    <%= post.body%>

  </div>

  <% post.comments.each do |comment| %>
  <div class="comments">
  <%= comment.user.email + " said : "%><%= comment.content %><%= link_to 'X', post_comments_path(comment), method: :delete %><br>
  </div>

  <% end %>
  <div class="body">

    <%= form_for([post, @comment]) do |f| %>
      <div class="flex">
        <%= f.text_field :content %>
        <%= f.submit 'Comment', class: 'button element' %>
      </div>
        <% end %>

  <%= link_to 'Edit Post', edit_post_path(post)%>
  </div>
</div>

<% end %>


</div>
