<div class="container">
<div class="title post element">
<%= link_to 'New Post', new_post_path(@post) %>
</div>

<% @posts.each do |post| %>
<div class="post">
  <div class="title element">

    <div class="create"><%= post.user.email %> said: </div><%= post.title %>
  </div>
  <div class="body">
    <% if post.img_url === true >
    <%= image_tag post.img_url %>
    <% end %>
    <%= post.body%>

  </div>

  <% post.comments.each do |comment| %>
  <div class="comments">
  <%= comment.user.email + " said : "%><%= comment.content + "   "%><%= link_to 'Edit', edit_post_comment_path(@post, comment) %><br>
  </div>

  <% end %>
  <div class="body">

    <%= form_for([post, @comment]) do |f| %>
      <div class="flex">
        <%= f.text_field :content %>
        <%= f.submit 'Comment', class: 'button element' %>
      </div>
        <% end %>
  <% if can? :update, post %>
  <%= link_to 'Edit Post', edit_post_path(post)%>
  <% end %>
  </div>
</div>

<% end %>


</div>
