<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Nav Bar -->
  <div class="bar element">

    <div class="icon">
      <%= link_to 'Home', root_path %>
    </div>

    <div class="icon icon-1">
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
    </div>

    <div class="icon icon-2">
      <%= link_to 'Login', new_user_session_path %>
    </div>

    <div class="icon icon-3">
      <%= link_to 'Signup', new_user_registration_path %>
    </div>
    <% if current_user %>
      <%= current_user.email %>
    <% else %>
      <%= 'You are not signed in' %>
    <% end %>

  </div>

  <!-- Body -->
  <div class="container">

    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>

  </div>

  <%= yield %>

</body>
</html>
